# Sample config file for python-tgbot

[bot]
cli-path = bin/telegram-cli
key-path = bin/telegram.key
cli-args = -k %(key-path)s -E -C -R -I -S telegram.socket
cmd-prefix = .

# Command-specific configurations below

[image]
# See README for details
#google-cx =
#google-api-key =

[wolfram]
# See README for details
#app-id =

[rand_line]
# Add your seed text files here.  Format:
# seed-pathX = <file path>, <chat binding>
# Some examples:
# will bind to '.example' on chat:
#    seed-path1 = /path/to/seed/file.txt, example
# will bind to '.test' on chat:
#    seed-path2 = /path/to/another/file.txt, test
# Remember to uncomment the lines.